<% layout('layouts/boilerplate') -%>

<h1>Title: <%= venue.title %></h1>

<div>
    <% venue.images.forEach(function(image) { %>
        <img src="<%= image.url %>" alt="venue image">
    <% }); %>
</div>
<p>Hours: <%= venue.hours %></p>
<p>Description: <%= venue.description %></p>
<p>Specials: <%= venue.specials %></p>
<p>Events: <%= venue.events %></p>